<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h4 class="display-1">
    Searchat
  </h4>
</div>-->
<!-- .navbar-fixed-top la deja pegada arriba -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top" style="background-color: #f17878;">
  <form class="form-inline">
    <img src="assets/img/SC.png" width="70" height="70" class="d-inline-block align-top" alt="">
    <h3>Searchat</h3>
  </form>
  <form class="form-inline">
      <button type="button" class="btn btn-link"><h3>List</h3></button>
      <button type="button" class="btn btn-link"><h3>Analize</h3></button>
      <button type="button" class="btn btn-link"><h3>Choose</h3></button>
    <a class="nav-link" routerLinkActive="/ActivityDetails" routerLink="/activityDetails">Activity Details</a>
  </form>

  <form class="form-inline">
      <button type="button" class="btn btn-success btn-lg">Sign In</button>
    </form>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
