<div class="container" >
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate class="card card-container">
        
            <div class="card-body">
                <h2 class="card-title text-center">Edit info</h2>
                <div class="form-group">
                    <h4>Nationality</h4>
                    <input class="form-control" type="text" id="nationality" placeholder="Nationality" formControlName="nationality" required>
                </div>
        
                <div class="form-group">
                    <h4>Languages</h4>
                    <select>
                        <option value="Español">Español</option>
                        <option value="Ingles">Ingles</option>
                        <option value="Mandarin">Mandarin</option>
                        <option value="Portugues">Portugues</option>
                        <option value="Ruso">Ruso</option>
                        <option value="Japones">Japones</option>
                        <option value="Italiano">Italiano</option>
                        <option value="Aleman">Aleman</option>
                        <option value="Frances">Frances</option>
                      </select> 
                      <button class="btn btn-info" (click)="add()">Add</button>    
                </div>

                <div>
                    <h6>Idiomas agregados: </h6>
                    <output id="idiomasAdd">
                        de
                    </output>
                </div>
                    
                <div>
                    <h4>About you</h4>
                    <input class="form-control" type="text" id="aboutYou" placeholder="About you" formControlName="aboutYou" required>
                </div>
        
                <div>
                    <h4>Profile picture</h4>
                    <input class="form-control" type="text" id="image" placeholder="Profile picture" formControlName="image" required>
                </div>
                <p></p>
                <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Save</button>
                <p class="text-danger mt-1" *ngIf="userError">{{userError}}</p>
                
            </div>
        
    </form>

</div>