<div class="container" >
    <form [formGroup]="userForm"  novalidate class="card card-container">
        
            <div class="card-body">
                <h2 class="card-title text-center">Edit info</h2>
                <div class="form-group">
                    <h4>Nationality</h4>
                    <input class="form-control" type="text" id="nationality" placeholder="Nationality" formControlName="nationality" required>
                </div>
        
                <div class="form-group">
                    <h4>Languages</h4>
                    <select formControlName="selectedLenguage">
                      <option *ngFor="let l of lenguages" [ngValue]="l">{{l}}</option>
                    </select>
                    <button class="btn btn-info" (click)="add()">Add</button>    
                </div>

                <div  *ngIf="selectedLenguages.length>0">
                    <h4>Added lenguages:  </h4>
                    <h6 *ngFor="let idioma of selectedLenguages">
                       -> {{idioma}}
                    </h6> 
                </div>
                    
                <div>
                    <h4>About you</h4>
                    <input class="form-control" type="text" id="aboutYou" placeholder="About you" formControlName="aboutYou" required>
                </div>
        
                <div>
                    <h4>Profile picture</h4>
                    <input class="form-control" type="file" (change)="setImage($event)" id="image">
                </div>
                <p></p>
                <button (click)="onSubmit()" type="submit" class="btn btn-success" [disabled]="!userForm.valid">Save</button>
                <p class="text-danger mt-1" *ngIf="userError"> {{userError}}</p>
                
            </div>
        
    </form>
</div>