<div class="container">
  <h1 align="center">Activity Details</h1>
  <form [formGroup]="activityForm">
    <div>
      <h3 for="name">Name</h3>
      <br>
      <label id="name">{{activity.name}}</label>
    </div>
    <div>
      <h3 for="description">Description</h3>
      <br>
      <label id="description">{{activity.description}}</label>
    </div>
    <div>
      <h3 for="administrator">Administrator</h3>
      <br>
      <label id="administrator">{{activity.administrator.firstname}} {{activity.administrator.lastname}}</label>

    </div>
    <div>
      <h3 for="languages">Languages</h3>
      <br>
      <label id="languages">{{activity.languages}}</label>
    </div>
    <div>
      <h3 for="location">Location</h3>
      <br>
      <label id="location">{{activity.location}}</label>
    </div>
    <div>
      <h3 for="date">Date</h3>
      <br>
      <label id="date">{{activity.date}}</label>
    </div>
    <div>
      <h3 for="participants">Participants</h3>
      <br>
      <ul *ngFor="let p of activity.participants "id="participants">
        <li>{{p.firstname}}</li>
      </ul>
    </div>
    <div>
      <h3 for="price">Price</h3>
      <br>
      <label id="price">{{activity.price}} COP</label>
    </div>
    <div>
      <h2 align="center">Chat</h2>
    </div>
    <div class="square">
        <h4>The chat will be here soon enough</h4>
    </div>
  </form>
</div>
